{% extends 'Cliente/base.html' %}
{% load static %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock estilo %}

{% block header %}
  <div class="title">
    <img id=alunos src="{% static 'icons/prancheta.png' %}">
    <p>matrícula</p>
  </div>
{% endblock header %}
{% block conteudo %}
    <nav class="cadastro-painel">
      <div class="cadastro-header-painel">
        <div class="cadastro-buttons">
          <div class="area-cadastro">
            <form id="form-cadastro" role="form" method="post" action="{% url 'realizar_cadastro' %} " enctype="multipart/form-data">
              {% csrf_token %}
              <div class="input-container">
                <label >Nome Completo*: </label>
                <input type="text" class="form-control" placeholder="nome" id="nome" name="nome">
              </div>
              <div class="input-container">
                <label for="telefone">Telefone: </label>
                <input type="text" class="form-control" placeholder="telefone" id="telefone" name="telefone">
              </div>
              <div class="input-container">
                <label for="cpf">CPF(Apenas números)*: </label>
                <input type="text" class="form-control" placeholder="CPF" id="cpf" name="cpf">
              </div>
              <div class="input-container">
                <label for="data-final">Data final: </label>
                <input type="text" class="form-control" placeholder="Data final do plano" id="data_final" name="data_final">
              </div>
              <div class="input-container">
                <label for="plano">Plano escolhido*:</label>
                <input type="text" class="form-control" placeholder="plano escolhido" id="plano" name="plano">
              </div>
              <div class="input-container">
                <label for="plano">Quantidade de aulas*:</label>
                <input type="text" class="form-control" placeholder="Quantidade de aulas" id="quantidade_aulas" name="quantidade_aulas">
              </div>
              <div id="buttons-div">
                <input type="submit" value="Cadastrar" title="Cadastra cliente se todos os dados estiverem corretos" onclick="javascrip:alert('Cadastro realizado com sucesso')">
                <input type="button" value="Cancelar" title="Retorna ao menu" onclick="location.href='menu';">
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>
{% endblock conteudo %}
