{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/clientes.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <title>D Lions</title>
</head>
<body id="clientes-container">
  <section class="clientes-content">
    <p>CLIENTES</p>
    <nav class="clientes-painel">
      <div class="clientes-lista">
        
        <div class="area-clientes">
          <table>
            <thead>
              <th>Nome Completo</th>
              <th>Telefone</th>
              <th>Plano Escolhido</th>
              <th>Data Matrícula</th>
            </thead>
            <tbody>
              {%for Usuarios in usuario %}
              <div>
              <tr>
                <td><a href="/usuario/{{Usuarios.nome_completo}}">{{Usuarios.nome_completo}}</a></td>
                <td><a href="/usuario/{{Usuarios.telefone}}">{{Usuarios.telefone}}</a></td>
                <td><a href="/usuario/{{Usuarios.plano_escolhido}}">{{Usuarios.plano_escolhido}}</a></td>
                <td><a href="/usuario/{{Usuarios.data_inicio}}">{{Usuarios.data_inicio}}</a></td>
              </tr>
              {% endfor %}
            </div>
            </tbody>
          </table>
        </div>
        <button name="voltar" onclick="javascript:history.back()">Voltar</button>
      </div>
    </nav>
  </section>
</body>
</html>