{% extends 'Cliente/base2.html' %}
{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'css/clientes1.css' %}">
{% endblock estilo %}

{% block header %}
  <div class="title pessoas">
    <img id=alunos src="{% static 'icons/pessoas-branco.png' %}">
    <p>clientes</p>
  </div>
{% endblock header %}
{% block conteudo %}
      <div class="clientes-lista">
        
        <div class="area-clientes">
          <table>
            <thead>
              <th>Nome Completo</th>
              <th>Telefone</th>
              <th>Plano Escolhido</th>
              <th>Data Matrícula</th>
              <th>Data Final</th>
              <th>Aulas Restantes</th>
              <th>Último Acesso</th>
            </thead>
            <tbody>
              {%for Usuarios in usuario %}
              <div>
              <tr>
                <td><a class="add-link" href="/usuario/{{Usuarios.nome_completo}}">{{Usuarios.nome_completo}}</a></td>
                <td><a class="add-link" href="/usuario/{{Usuarios.telefone}}">{{Usuarios.telefone}}</a></td>
                <td><a class="add-link" href="/usuario/{{Usuarios.plano_escolhido}}">{{Usuarios.plano_escolhido}}</a></td>
                <td><a class="add-link" href="/usuario/{{Usuarios.data_inicio}}">{{Usuarios.data_inicio}}</a></td>
                <td><a class="add-link" href="/usuario/{{Usuarios.data_final}}">{{Usuarios.data_final}}</a></td>
                <td><a class="add-link" href="/usuario/{{Usuarios.quantidade_aulas}}">{{Usuarios.quantidade_aulas}}</a></td>
                <td><a class="add-link" href="/usuario/{{Usuarios.acesso_anterior}}">{{Usuarios.acesso_anterior}}</a></td>
              </tr>
              {% endfor %}
            </div>
            </tbody>
          </table>
        </div>
        <button name="voltar" onclick="javascript:history.back()">Voltar</button>
      </div>
{% endblock conteudo %}
