{% extends 'Cliente/base2.html' %}
{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'css/clientes1.css' %}">
{% endblock estilo %}

{% block header %}
  <div class="title pessoas">
    <img id=alunos src="{% static 'icons/pessoas-branco.png' %}">
    <p>clientes</p>
  </div>
{% endblock header %}
{% block conteudo %}
      <div class="clientes-lista">
        
        <div class="area-clientes">
          <table>
            <thead>
              <th>Nome Completo</th>
              <th>Telefone</th>
              <th>CPF</th>
              <th>Plano Escolhido</th>
              <th>Data Matrícula</th>
              <th>Data Final</th>
              <th>Aulas Restantes</th>
              <th>Último Acesso</th>
              <th>Editar/Excluir</th>
            </thead>
            <tbody>
              {%for Usuarios in usuario %}
              <div>
              <tr>
                <td><a class="add-link">{{Usuarios.nome_completo}}</a></td>
                <td><a class="add-link">{{Usuarios.telefone}}</a></td>
                <td><a class="add-link">{{Usuarios.cpf}}</a></td>
                <td><a class="add-link">{{Usuarios.plano_escolhido}}</a></td>
                <td><a class="add-link">{{Usuarios.data_inicio}}</a></td>
                <td><a class="add-link">{{Usuarios.data_final}}</a></td>
                <td><a class="add-link">{{Usuarios.quantidade_aulas}}</a></td>
                <td><a class="add-link">{{Usuarios.acesso_anterior}}</a></td>
                <td>
                  <form role="form" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                      <button class="add-link delete-td" type="submit" id="id_editar_cliente" name="id_editar_cliente" value="{{Usuarios.id}}">
                        <img id="alunos-delete" src="{% static 'icons/edit.png' %}">
                      </button>
                  </form>
                  <form role="form" action="{% url 'deletar_cliente' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button class="add-link delete-td" type="submit" onclick="window.alert('Usuario deletado com sucesso!')" id="id_deletar" name="id_deletar" value="{{Usuarios.id}}">
                          <img id="alunos-delete" src="{% static 'icons/delete.png' %}">
                        </button>
                    </form>
                </td>
          </td>
              </tr>
              {% endfor %}
            </div>
            </tbody>
          </table>
        </div>
        <button name="voltar" title="Retorna ao menu principal" onclick="location.href='menu';" >Voltar</button>
      </div>
{% endblock conteudo %}
