{% extends 'Cliente/base.html' %}
{% load static %}
{% block estilo %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock estilo %}
{% block header %}
  <div class="title">
    <p>Olá Rodrigo</p>
  </div>
{% endblock header %}
{% block conteudo %}

      <div> 
        <center> 
          <input type="text" id="rel">
        </center>
      </div>
      <div class="home-header-painel">
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/prancheta.png' %}">
                </button>
            </form>
            <td class="label">matrícula</td>
          </div>
          <div>
            <form role="form" action="{% url 'novo_plano' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/sifrao.png' %}">
                </button>
            </form>
            <td> novo  plano </td>
          </div>
          <div>
            <form role="form" action="{% url 'planos' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img style="width: 90%;" id=alunos src="{% static 'icons/peso.png' %}" >
                </button>
            </form>
            <td>planos</td>
          </div>
        </div>
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'clientes' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/pessoas.png' %}">
                </button>
            </form>
            <td>alunos</td>
          </div>
          <div>
            <form role="form" action="{% url 'novo_acesso' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/cracha.png' %}">
                </button>
            </form>
            <td>criar acesso</td>
          </div>
          <div>
            <form role="form" action="{% url 'acesso' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/digital.png' %}">
                </button>
            </form>
            <td>acesso</td>
          </div>
        </div>
      </div>
{% endblock conteudo %}