{% extends 'Cliente/base.html' %}
{% load static %}
{% block estilo %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock estilo %}
{% block header %}
  <div class="title">
    <p>Olá, {{user.username}}</p>
  </div>
{% endblock header %}
{% block conteudo %}

      <div> 
        <center> 
          <input type="text" id="rel">
        </center>
      </div>
      <div class="home-header-painel">
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/prancheta.png' %}" title="Abre pagina para matrícula de novos alunos">
                </button>
            </form>
            <td class="label">Matrícula</td>
          </div>
          {% if user.is_admin %}
          <div>
            <form role="form" action="{% url 'novo_usuario' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/prancheta.png' %}" title="Cadastro de novos usuários do sistema">
                </button>
            </form>
            <td class="label">Novo Usuário</td>
          </div>
          {% endif %}
          <div>
            <form role="form" action="{% url 'novo_plano' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/sifrao.png' %}" title="Criação de novo plano da academia">
                </button>
            </form>
            <td> Novo plano </td>
          </div>
          <div>
            <form role="form" action="{% url 'planos' %}" method="POST" enctype="multipart/form-data" title="Visualizador de todos os planos da academia cadastrados no sistema">
              {% csrf_token %}
                <button>
                  <img style="width: 90%;" id=alunos src="{% static 'icons/peso.png' %}" >
                </button>
            </form>
            <td>Planos</td>
          </div>
        </div>
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'clientes' %}" method="POST" enctype="multipart/form-data" title="Visualizador de clientes cadastrados na academia">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/pessoas.png' %}">
                </button>
            </form>
            <td>Alunos</td>
          </div>
          <div>
            <form role="form" action="{% url 'novo_acesso' %}" method="POST" enctype="multipart/form-data" title="Registrar acesso a academia, necessário CPF">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/cracha.png' %}">
                </button>
            </form>
            <td>Criar acesso</td>
          </div>
          <div>
            <form role="form" action="{% url 'acesso' %}" method="POST" enctype="multipart/form-data" title="Visualizador de últimos acessos a academia registrados">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/digital.png' %}">
                </button>
            </form>
            <td>Acesso</td>
          </div>
        </div>
      </div>
{% endblock conteudo %}