{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <title>D Lions</title>
</head>
<body id="home-container">
  <section class="home-content">
    <nav class="home-icons">
      <div class="home-header-painel">
        <div class="home-buttons">
          <div>
            <form role="form" action="{% url 'cadastro' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/aula.png' %}">
                </button>
            </form>
            <p>MATRÍCULA</p>
          </div>
          <div>
            <form role="form" action="{% url 'clientes' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/users.png' %}">
                </button>
            </form>
            <p>ALUNOS</p>
          </div>
          <div>
            <form role="form" action="{% url 'planos' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/dollar.png' %}">
                </button>
            </form>
            <p>PLANOS</p>
          </div>
          <div>
            <form role="form" action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <button>
                  <img id=alunos src="{% static 'icons/users.png' %}">
                </button>
            </form>
            <p>LOGOUT</p>
          </div>
          <!-- <button class="icon">
            <div class="home-button" >
              <img id=sistema src="assets/icons/settings.svg">
            </div>
            <p>SISTEMA</p> -->
          <!-- </button>
          <button class="icon">
            <div class="home-button" >
              <img id=matricula src="assets/icons/user.svg">
            </div>
            <p>MATRÍCULA</p>
          </button>
          <button class="icon">
            <div class="home-button" >
              <img id=alunos src="assets/icons/users.svg">
            </div>
            <p>ALUNOS</p>
          </button> -->
        </div>
      </div>
  
    </nav>
    <div class="lista-alunos">
    </div>
  </section>
</body>
</html>
