{% extends 'Cliente/base.html' %}
{% load static %}

{% block estilo %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}">
{% endblock estilo %}

{% block header %}
  <div class="title cracha">
    <img id=alunos src="{% static 'icons/cracha.png' %}">
    <p>novo acesso</p>
  </div>
{% endblock header %}
{% block conteudo %}
      <div class="cadastro-header-painel">
        <div class="cadastro-buttons">
    <div class="area-cadastro" style="margin-top: 50px">
      <form id="form-cadastro" role="form" method="post" action="{% url 'realizar_acesso' %} " enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <div class="input-container">
          <label >Nome Completo: </label>
          <input type="text" class="form-control" placeholder="nome" id="nome_acesso" name="nome_acesso">
        </div> -->
        <!-- <div class="input-container">
          <label for="telefone">Telefone: </label>
          <input type="text" class="form-control" placeholder="telefone" id="telefone" name="telefone">
        </div> -->
        <div class="input-container">
          <label for="cpf">CPF(Apenas números)*: </label>
          <input type="text" class="form-control" placeholder="CPF" id="cpf_acesso" name="cpf_acesso">
        </div>
        <!-- <div class="input-container">
          <label for="data-final">Data final: </label>
          <input type="text" class="form-control" placeholder="Data final do plano" id="data_final" name="data_final">
        </div>
        <div class="input-container">
          <label for="plano">Plano escolhido:</label>
          <input type="text" class="form-control" placeholder="plano escolhido" id="plano" name="plano">
        </div> -->
        <div id="buttons-div" style="margin-top: 80px">
          <input type="submit" title="Registra novo acesso se dados estiverem corretos" value="Adicionar" onclick="javascrip:alert('Acesso computado')">
          <input type="button" title="Retorna ao menu principal" value="Cancelar" onclick="location.href='menu';">
        </div>
      </form>
    </div>
        </div>
      </div>

{% endblock conteudo %}
