/* #cadastro-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cadastro-content {
  width: 60vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 8px; */

/* background-color: var(--bg_home); */
/* }
.cadastro-content p {
  color: var(--shape);
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
} */
.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}
.title img {
  width: 2.5rem;
  margin-right: 1rem;
}

.title.cracha img {
  width: 4rem;
}
.ti .cadastro-painel {
  width: 120%;
  align-self: center;
}
.cadastro-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  border-radius: 8px;
  padding-top: 0.7rem;
}

.area-cadastro .input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.area-cadastro label {
  color: var(--shape);
  font-size: 1.2rem;
  text-align: left;
}
.area-cadastro #form-cadastro input {
  height: 1.5rem;
  padding: 0.8rem;
  margin-left: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--black);
  /* color: var(--text-title); */
  border-color: var(--text);
  border-radius: 10px;
}

#buttons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: -3rem;
}
.area-cadastro #form-cadastro #buttons-div input[type="button"],
.area-cadastro #form-cadastro #buttons-div input[type="submit"] {
  width: 8rem;
  height: 3.2rem;
  font-size: 1.4rem;
  border-radius: 10px;
  margin-top: 30px;
  color: var(--background_container);
  background-color: var(--background);
}
