/* #clientes-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */
.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}
.title img {
  width: 2.5rem;
  margin-right: 1rem;
}

.title.pessoas img {
  width: 3.5rem;
  object-fit: contain;
}

.clientes-content {
  width: 60vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 8px;
  /* background-color: var(--bg_home); */
}
.clientes-content p {
  color: var(--shape);
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
.clientes-painel {
  width: 100%;
}
.clientes-lista {
  width: 130%;
  /* background-color: var(--bg_frame); */
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  border-radius: 8px;
  padding-top: 0.7rem;
  margin-bottom: -50px;
}

.area-clientes {
  overflow-y: scroll;
  overflow-x: scroll;
  width: 100%;
  /* height: 500px; */
  max-height: 25rem;
  /* font-size: 0.8rem; */
  padding: 5px;
}

::-webkit-scrollbar {
  background-color: var(--white_transp);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--black_transp);
  border-radius: 10px;
}
.area-clientes table {
  width: 100%;
}
/* .area-clientes table thead {
  border-radius: 10px;
} */
.area-clientes table th,
td {
  text-align: left;
  padding: 5px;
  border: 1px solid var(--shape);
}
.area-clientes table thead {
  /* background-color: var(--red); */
  height: 2.5rem;
  color: var(--shape);
}
/* .area-clientes tr { */
/* background-color: var(--white_transp); */
/* } */
.area-clientes a {
  color: var(--shape);
}
/* .area-clientes tbody tr {
  color: var(--primary_dark);
} */
.area-clientes tr:hover {
  background-color: var(--white);
}
.area-clientes tr:hover th,
.area-clientes tr:hover a {
  color: var(--black);
}
.area-clientes table td {
  height: 2rem;
}
.clientes-lista button[name="editar"] {
  height: 1.5rem;
  font-size: 0.9rem;
  border-color: var(--text);
  color: var(--bg_home);
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  box-sizing: content-box;
}
.clientes-lista button[name="voltar"] {
  width: 8rem;
  height: 3.2rem;
  font-size: 1.4rem;
  /* padding: 0.8rem 1.8rem; */
  border-radius: 10px;
  margin-top: 30px;
  color: var(--background_container);
  background-color: var(--background);
}
.add-link {
  text-decoration: none;
}
/* #alunos-delete-button {
  width: 5px;
  height: 5px;
} */
.delete-td {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img#alunos-delete {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
td a {
  text-decoration: none;
}
