:root {
  --red: #ed3237;
  --background: rgba(240, 242, 245, 0.9);
  --background_container: rgba(0, 0, 0, 0.6);
  --shape: #ffffff;
  --text-title: #000000;
  --white: #ffffff;
  --black: #000000;
  --white_transp: rgba(240, 242, 245, 0.9);
  --black_transp: rgba(0, 0, 0, 0.6);
  --primary_dark: #363f5f;
  --text-body: #969cb2;

  --green: #33cc95;
  --blue: #5429cc;
  --blue-light: #6933ff;
  --background_transp: rgba(0, 0, 0, 0.4);
  --secondary_dark: #000000;
  --secondary_transp: rgba(240, 242, 245, 0.9);
  --primary: #ff0000;
  --bg_home: #b22222;
  --bg_cadastro: #a52a2a;
  --icon: #6495ed;
  --bg_frame: #d3d3d3;
}
.dark-mode:root {
  --red: #ed3237;
  --background: rgba(0, 0, 0, 0.8);
  --background_container: rgba(240, 242, 245, 0.8);
  --shape: #000000;
  /* --text-title: #ffffff; */

  --background_transp: rgba(240, 242, 245, 0.9);
  --text-body: #969cb2;
  --primary_dark: #363f5f;
  --secondary_dark: #000000;
  --secondary_transp: rgba(0, 0, 0, 0.4);
  --primary: #ff0000;
  --bg_home: #b22222;
  --bg_cadastro: #a52a2a;
  --icon: #6495ed;
  --bg_frame: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* // font-size: 16px (Desktop) */
html {
  @media (max-width: 1080px) {
    font-size: 93.75%; //15px
  }
  @media (max-width: 720px) {
    font-size: 87.5%; //14px
  }
}
/* //REM = 1rem = 16px */
body {
  /* background: rgba(0, 0, 0, 0.8); */
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}
