.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* align-items: center; */
  /* justify-content: center; */
}
.title img {
  width: 2.5rem;
  margin-right: 1rem;
}
.title.peso img {
  width: 3.5rem;
  object-fit: contain;
}

#planos-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.planos-content {
  width: 60vw;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  border-radius: 8px;
  background-color: var(--bg_home);
}
.planos-content p {
  color: var(--shape);
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
.planos-painel {
  width: 100%;
}
.planos-lista {
  width: 100%;
  /* background-color: var(--background);/ */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  border-radius: 8px;
  padding-top: 0.7rem;
}

.area-planos {
  width: 100%;
  padding: 5px;
}
.area-planos table {
  width: 100%;
}
.area-planos table th,
td {
  text-align: left;
  padding: 5px;
}
.area-planos table thead {
  background-color: var(--background_container);
  height: 2.5rem;
  color: var(--shape);
}
.area-planos tr:nth-child(even) {
  background-color: var(--background);
}
.area-planos tbody tr {
  color: var(--primary_dark);
}
.area-planos tr:hover {
  background-color: var(--background_container);
  color: var(--shape);
}
.area-planos table td {
  height: 2rem;
}
.area-planos table td.button-edit {
  text-align: center;
}
.area-planos a {
  /* color: var(--text-title); */
  color: var(--shape);
}
.area-planos tr:hover a {
  color: var(--shape);
}
.planos-lista button[name="editar"] {
  height: 1.5rem;
  font-size: 0.9rem;
  border-color: var(--text);
  color: var(--bg_home);
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  box-sizing: content-box;
}
.planos-lista button[name="voltar"] {
  width: 8rem;
  height: 3.2rem;
  font-size: 1.4rem;
  /* padding: 0.8rem 1.8rem; */
  border-radius: 10px;
  margin-top: 30px;
  color: var(--background_container);
  background-color: var(--background);
}
#add-link {
  text-decoration: none;
}
.delete-td {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}
img#planos-delete {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.buttons-div {
  margin-top: 2rem;
  margin-bottom: -3rem;
}
