<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="_css/global.css">
  <link rel="stylesheet" type="text/css" href="_css/style.css">
  <title>D Lions</title>
</head>
<body id="home-container">
  <section class="home-content">
    <nav class="home-icons">
      <div class="home-header-painel">
        <div class="home-buttons">
          <button class="icon">
            <div class="home-button" >
              <img id=aula src="assets/icons/aula.svg">
            </div>
            <p>AULA</p>
          </button>
          <button class="icon">
            <div class="home-button" >
              <img id=caixa src="assets/icons/dollar.svg">
            </div>
            <p>CAIXA</p>
          </button>
          <button class="icon">
            <div class="home-button" >
              <img id=imprimir src="assets/icons/printer.svg">
            </div>
            <p>IMPRIMIR</p>
          </button>
          <button class="icon">
            <div class="home-button" >
              <img id=pesquisa src="assets/icons/search.svg">
            </div>
            <p>PESQUISA</p>
          </button>
          <button class="icon">
            <div class="home-button" >
              <img id=sistema src="assets/icons/settings.svg">
            </div>
            <p>SISTEMA</p>
          </button>
          <button class="icon">
            <div class="home-button" >
              <img id=matricula src="assets/icons/user.svg">
            </div>
            <p>MATRÍCULA</p>
          </button>
          <button class="icon">
            <div class="home-button" >
              <img id=alunos src="assets/icons/users.svg">
            </div>
            <p>ALUNOS</p>
          </button>
        </div>
      </div>
  
    </nav>
    <div class="lista-alunos">
    </div>
  </section>
</body>
</html>
