{% load static %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/planos.css' %}">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <title>D Lions</title>
</head>
<body id="planos-container">
  <section class="planos-content">
    <p>PLANOS</p>
    <nav class="planos-painel">
      <div class="planos-lista">
        
        <div class="area-planos">
          <table>
          <thead>
              <th>Curso</th>
              <th>Aulas</th>
              <th>Valor</th>
          </thead>
            <tbody>
              {%for plano in plano %}
              <div>
              <tr>
                <td><a href="/plano/{{Planos.nome_plano}}">{{plano.nome_plano}}</a></td>
                <td><a href="/plano/{{Planos.quantidade_aulas}}">{{plano.quantidade_aulas}}</a></td>
                <td><a href="/plano/{{Planos.valor}}">{{plano.valor}}</a></td>
              </tr>
              {% endfor %}
            </div>
            </tbody>
          </table>
        </div>
        <button name="voltar" onclick="javascript:history.back()">Voltar</button>
      </div>
    </nav>
  </section>
</body>
</html>
