{% extends 'Cliente/base.html' %}
{% load static %}

{% block estilo %}
  <link rel="stylesheet" href="{% static 'css/planos1.css' %}">
{% endblock estilo %}

{% block header %}
  <div class="title peso">
    <img id=alunos src="{% static 'icons/peso-branco.png' %}">
    <p>planos</p>
  </div>
{% endblock header %}
{% block conteudo %}
      <div class="planos-lista">
        
        <div class="area-planos">
          <table>
          <thead>
              <th>Curso</th>
              <th>Aulas</th>
              <th>Valor</th>
              <th>Editar/Excluir</th>
          </thead>
            <tbody>
              {%for plano in plano %}
              <div>
              <tr>
                <td><a id="add-link">{{plano.nome_plano}}</a></td>
                <td><a id="add-link">{{plano.quantidade_aulas}}</a></td>
                <td><a id="add-link">R${{plano.valor}}</a></td>
                <td>
                  <form role="form" action="{% url 'novo_plano' %}" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                      <button class="add-link delete-td" type="submit" id="plano_editar_id" name="plano_editar_id" value="{{plano.id}}">
                        <img id="planos-delete" src="{% static 'icons/edit.png' %}">
                      </button>
                  </form>
                  <form role="form" action="{% url 'deletar_plano' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <button class="add-link delete-td" type="submit" onclick="window.alert('Plano deletado com sucesso!')" id="id_delete_plano" name="id_delete_plano" value="{{plano.id}}">
                          <img id="planos-delete" src="{% static 'icons/delete.png' %}">
                        </button>
                    </form>
                </td>
              </tr>
              {% endfor %}
            </div>
            </tbody>
          </table>
        </div >
        <button class="buttons-div" title="Retorna ao menu principal" name="voltar" onclick="location.href='menu';">Voltar</button>
      </div>
{% endblock conteudo%}