<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="_css/global.css">
  <link rel="stylesheet" type="text/css" href="_css/clientes.css">
  <title>D Lions</title>
</head>
<body id="clientes-container">
  <section class="clientes-content">
    <p>CLIENTES</p>
    <nav class="clientes-painel">
      <div class="clientes-lista">
        
        <div class="area-clientes">
          <table>
            <thead>
              <th>Nome Completo</th>
              <th>Telefone</th>
              <th>Plano Escolhido</th>
              <th>Editar</th>
            </thead>
            <tbody>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva José da Silv</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
              <tr>
                <td>José da Silva</td>
                <td>11999999999</td>
                <td>A</td>
                <td><button name="editar">Editar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <button name="voltar">Voltar</button>
      </div>
    </nav>
  </section>
</body>
</html>